{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Afficher profil {% endblock %}

{% block main %}
<h1 class="d-flex justify-content-center">Afficher une sortie</h1>
<div id="info">
    <div>
        <h5>Prénom : {{ participant.prenom }}</h5><br>
        <h5>Nom : {{ participant.nom  }}</h5><br>
        <h5>Téléphone : {{ participant.telephone }}</h5><br>
        <h5>Email : {{ participant.email }}</h5><br>
        <h5>Site de rattachement {{ participant.campus }}</h5><br>

    </div>
</div>