{% extends 'layout.html.twig' %}

{% block main %}

{{ form_start(participantForm) }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
            <div class="card shadow mt-5">
                <div class="card-body">
                    <h2>Mon Profil</h2>
    {{ form_row(participantForm.username,{
    'attr':{ 'value':participant1.username}}
    ) }}
    {{ form_row(participantForm.nom,{
    'attr':{ 'value':participant1.nom}}
) }}
    {{ form_row(participantForm.prenom,{
    'attr':{ 'value':participant1.prenom}}
) }}

    {{ form_row(participantForm.telephone,{
        'attr':{ 'value':participant1.telephone}}
    ) }}

    {{ form_row(participantForm.email,{
        'attr':{ 'value':participant1.email}}
    ) }}

    {{ form_row(participantForm.password
    ) }}

    {{ form_row(participantForm.campus,{
        'attr':{ 'value':participant1.campus.nom}}
    ) }}

    {{ form_row(participantForm.photo) }}




    <button type="submit"> Enregistrer </button>
    <button value="Annuler"><a href="{{ path('liste_sortie',{'id': app.user.id}) }}">Annuler</a></button>

    {{ form_end(participantForm) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %} profile{% endblock %}