{% extends 'layout.html.twig' %}



{% block title %}{{ parent() }} | Créer une sortie {% endblock %}

{% block main %}
    <h2>Créer une sortie</h2>

   {# {{ form(sortieForm) }}#}
{{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}


    <input type="submit" value="Enregistrer" class="btn btn-primary" />
    <input type="submit" value="Publier la sortie" class="btn btn-primary" />
    <input type="submit" value="Annuler" class="btn btn-primary" />


    {{ form_end(sortieForm) }}

{% endblock %}