{% extends 'layout.html.twig' %}
{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}
{% block title %}{{ parent() }} | Créer une sortie {% endblock %}

{% block main %}
<div class="container-fluid pt-3">
    <div class="row">
       <div class="col">
           <h2>Créer une sortie</h2>
           <hr>
       </div>
    </div>

    {{ form_start(sortieForm) }}

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.nom) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.dateDebut) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.dateCloture) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.nbInscriptionsMax) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.duree) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.commentaires) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.lieu) }}
        </div>
    </div>

   {# <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
            <input type="submit" value="Publier la sortie" class="btn btn-primary" />
            <input type="submit" value="Annuler" class="btn btn-primary" />
        </div>
    </div>#}


    {{ form_end(sortieForm) }}
</div>
{% endblock %}