{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie {% endblock %}

{% block main %}
<div class="container-fluid pt-3">
    <div class="row justify-content-center">
       <div class="col-12 col-md-6 col-lg-4">
           <h2>Créer une sortie</h2>
           <hr>
       </div>
    </div>

    {{ form_start(sortieForm) }}

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.nom) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.dateDebut) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.dateCloture) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.nbInscriptionsMax) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.duree) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.commentaires) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            {{ form_row(sortieForm.lieu) }}
        </div>

    </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(sortieForm.urlPhoto) }}
            </div>
        </div>


    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-1">
            <button type="submit" class="btn btn-primary">Enregistrer la sortie</button>



                <button type="submit" class="btn btn-primary">Publier la sortie</button>




                    <button type="submit" class="btn btn-primary">Annuler</button>

            </div>





    {{ form_end(sortieForm) }}

</div>

{% endblock %}








