{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Afficher une sortie {% endblock %}

{% block main %}
    <h2 class="d-flex justify-content-center">Afficher une sortie</h2>
    <div class="jumbotron">

    </div>


    <div class="container-fluid pt-3" id="info">
        <div class="row">
        <div class="col-6 md-4">
            <h5>Nom de la sortie : {{ sortie.nom }}</h5><br>
            <h5>Date et heure de la sortie : {{ sortie.dateDebut | date('d-m-Y  H:i') }}</h5><br>
            <h5>Date limite d'inscription : {{ sortie.dateCloture | date('d-m-Y  H:i') }}</h5><br>
            <h5>Nombre de places : {{ sortie.nbInscriptionsMax }}</h5><br>
            <h5>Durée : {{ sortie.duree }} minutes</h5><br>
            <h5>Descriptions et infos : {{ sortie.commentaires }}</h5>
        </div>
       <div class="col-6 md-4">
            <h5>Lieu : {{ sortie.lieu.nom }}</h5><br>
            <h5>Rue : {{ sortie.lieu.rue }}</h5><br>
           {#<h5>Ville : {{ sortie.lieu.ville.nom }}</h5><br>
            <h5>Code postal : {{ sortie.lieu.ville.codePostal}}</h5><br>#}
            <h5>Latitude : {{ sortie.lieu.latitude }}</h5><br>
            <h5>Longitude : {{ sortie.lieu.longitude }}</h5>
        </div>
        </div>
    </div><br>

    <div class="row justify-content-center" id="listeParticipants">
        <h3>Liste des participants inscrits</h3>

        <table id="tableauParticipants">
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
           {# {% for participant in participants %}
                   <tr>
                     <td>{{ participant.username}}</td>
                      <td><a href="{{ path('sortie_detail', {'id' : participant.id}) }}">{{ participant.nom }} {{ participant.prenom }}</td>
             </tr>
             {% endfor %}#}

        </table>
    </div>
{% endblock %}